In [7]:
# Passo 1 - Importar a base de dados para o Python

import pandas as pd

table = pd.read_csv("municipio.csv")
display(table)

         ano sigla_uf  id_municipio  populacao
0       1991       RO       1100015    31981.0
1       1992       RO       1100015    34768.0
2       1993       RO       1100015    37036.0
3       1994       RO       1100015    39325.0
4       1995       RO       1100015    41574.0
...      ...      ...           ...        ...
168813  2017       DF       5300108  3039444.0
168814  2018       DF       5300108  2974703.0
168815  2019       DF       5300108  3015268.0
168816  2020       DF       5300108  3055149.0
168817  2021       DF       5300108  3094325.0

[168818 rows x 4 columns]

In [8]:
# Passo 2 - Visualizar a bd (Entender informações e Corrigir os erros da base)

table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168818 entries, 0 to 168817
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ano           168818 non-null  int64
 1   sigla_uf      168818 non-null  object
 2   id_municipio  168818 non-null  int64
 3   populacao     168284 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 5.2+ MB

In [9]:
# Passo 3 - Tratar os dados

table = table.dropna(how='any', axis=0)
table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168284 entries, 0 to 168817
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ano           168284 non-null  int64
 1   sigla_uf      168284 non-null  object
 2   id_municipio  168284 non-null  int64
 3   populacao     168284 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 6.4+ MB

In [12]:
# Passo 4 - Análise simples (entender como está acontecendo o problema a ser resolvido)

print(table["sigla_uf"].value_counts(normalize=True))

MG    0.153479
SP    0.117789
RS    0.087721
BA    0.076698
PR    0.072217
SC    0.052661
GO    0.044597
PB    0.039225
PI    0.038245
MA    0.037086
CE    0.033859
PE    0.033741
RN    0.030205
PA    0.025724
TO    0.024774
MT    0.024595
AL    0.018677
RJ    0.016466
MS    0.014321
ES    0.014071
SE    0.013810
AM    0.011421
RO    0.009050
AC    0.003993
AP    0.002876
RR    0.002514
DF    0.000184
Name: sigla_uf, dtype: float64

In [ ]:
# Passo 5 - Análise completa (Pensar em soluções para o problema com os dados disponíveis)
import plotly.express as px


grafic = px.histogram(table, x="sigla_uf")